@import url(bootstrap.min.css);
body {
  font-family: sans-serif, serif;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.header-blue {
  position: absolute;
  width: 100%;
  z-index: -1;
  background: #33A3EA;
  min-height: 30vh;
  padding: 50px; }
  @media screen and (max-width: 767px) {
    .header-blue {
      padding: 50px 0 0 0; } }
  .header-blue h1 {
    font-size: 72px;
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: bold; }
    @media screen and (max-width: 767px) {
      .header-blue h1 {
        text-align: center;
        font-size: 48px; } }

.upper-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0; }

.container-content {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: 80vh;
  background: #FFFFFF;
  box-shadow: 0 5px 10px 1px #000000; }
  @media screen and (max-width: 576px) {
    .container-content {
      width: auto;
      margin-left: 15px;
      margin-right: 15px; } }
  .container-content .table-block {
    height: 100%;
    padding-top: 40px; }
    .container-content .table-block .table-block-header .table-block-header-item {
      text-align: center;
      font-size: 36px;
      font-weight: lighter; }
    .container-content .table-block .table-block-content .row {
      margin-top: 25px; }
    .container-content .table-block .table-block-content .table-block-content-item {
      text-align: center;
      font-size: 28px;
      font-weight: lighter; }
      .container-content .table-block .table-block-content .table-block-content-item a {
        display: block;
        background: #E4E4E4;
        width: 200px;
        margin: 0 auto;
        color: #000000;
        text-decoration: none; }
        .container-content .table-block .table-block-content .table-block-content-item a:hover, .container-content .table-block .table-block-content .table-block-content-item a:focus, .container-content .table-block .table-block-content .table-block-content-item a:active {
          background: #E9E9E9; }
        @media screen and (max-width: 767px) {
          .container-content .table-block .table-block-content .table-block-content-item a {
            width: 100% !important;
            max-width: 350px; } }

/*# sourceMappingURL=styles.css.map */
