@import "bootstrap.min.css";
$BLUE : #33A3EA;
$GRAY: #E4E4E4;
$GRAY_LIGHTER: #E9E9E9;
$WHITE: #FFFFFF;
$BLACK: #000000;

body{
  font-family: sans-serif, serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-blue{
  position: absolute;
  width: 100%;
  z-index: -1;
  background: $BLUE;
  min-height: 30vh;
  padding: 50px;
  @media screen and(max-width: 767px){
    padding: 50px 0 0 0;
  }
  h1{
    font-size: 72px;
    color: $WHITE;
    text-transform: capitalize;
    font-weight: bold;
    @media screen and(max-width: 767px){
      text-align: center;
      font-size: 48px;
    }
  }
}
.upper-container{
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
}
.container-content{
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: 80vh;
  background: $WHITE;
  box-shadow: 0 5px 10px 1px $BLACK;
  @media screen and(max-width: 576px){
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .table-block{
    height: 100%;
    padding-top: 40px;
    .table-block-header{
      .table-block-header-item{
        text-align: center;
        font-size: 36px;
        font-weight: lighter;
      }
    }
    .table-block-content{
      .row{
        margin-top: 25px;
      }
      .table-block-content-item{
        text-align: center;
        font-size: 28px;
        font-weight: lighter;
        a{
          display: block;
          background: $GRAY;
          width: 200px;
          margin: 0 auto;
          color: $BLACK;
          text-decoration: none;
          &:hover,&:focus,&:active{
            background: $GRAY_LIGHTER;
          }
          @media screen and(max-width: 767px){
            width: 100%!important;
            max-width: 350px;
          }

        }
      }
    }
  }

}





